label {
	display: block;
	margin-top: 1em;
}

p {
	font-size: 80%;
	color: #999;
}

input:valid {
	/* chrome default:	background-color: rgb(232, 240, 254); */
	background-color: rgb(223, 247, 236);
}

input:invalid {
	background-color: rgb(252, 232, 232);
}

input:valid+span::after {
	content: "✓";
	position: absolute;
	padding-left: 5px;
}

input:invalid+span::after {
	content: "✖";
	position: absolute;
	padding-left: 5px;
}

.hide {
	display: none;
}

.show {
	display: block;
}