* {
	font-family: "MS Sans Serif", Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

fieldset {
	background-color: #C3C7CB;
	border: 2px solid #000;
	color: #000;
	display: flex;
	justify-content: center;
	padding: 1em;
	min-width: 600px;
}

legend {
	background-color: #E4E4E4;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 #fff;
	color: #000;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	padding: 0 10px;
}

form {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding-right: 0.4rem;
	width: 100%;
}

label {
	margin-top: 1rem;
	width: 100%;
}

input {
	background-color: #E4E4E4;
	border: 1px solid #000;
	box-sizing: border-box;
	color: #000;
	margin-top: 0.5rem;
	padding: 0.5rem;
	width: 100%;
}

p {
	color: #999;
	font-size: 80%;
}

input:valid {
	background-color: rgb(223, 247, 236);
}

input:invalid {
	background-color: rgb(252, 232, 232);
}

input:valid+span::after {
	content: "✓";
	color: green;
	padding-top: 0.8rem;
	padding-left: 0.25rem;
	position: absolute;
}

input:invalid+span::after {
	content: "✖";
	color: red;
	padding-top: 0.8rem;
	padding-left: 0.25rem;
	position: absolute;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.submitButton {
	background-color: #C3C7CB;
	border: 2px outset #000;
	color: #000;
	cursor: pointer;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
}

.submitButton:hover {
	background-color: #A0A5A8;
}

.submitButton:disabled {
	background-color: #E4E4E4;
	border: 2px inset #000;
	cursor: not-allowed;
}